*{
    margin: 0;
}
body{
    display: flex;
    background-color: #FCFAF4;

}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    width: 100%;
}
#noButton{
    position: absolute;
    margin-left: 140px;
    transition: 0.7s;
}   
#yesButton {
    position: absolute;
    margin-right: 150px;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
}
.h1{
    font-family: 'Nunito';
    font-size: 40px;
    font-weight: bold;
    color: #FFB6C1;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
}
.btn{
    background-color: #FFB6C1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}
.text{
    font-family: 'Nunito';
    font-size: 25px;
    font-weight: bold;
    color: #FFB6C1;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
}
@media only screen and (max-width: 767px) {
    .gif{
        width: 90%;
    }
    .main{
        width: 95%;
    }
}
